/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */

body  {
	background-image: url(gif.gif)
	
}




@media screen and (min-width: 250px) {
    img {

        content: url(images/kitten-small.png);
        
    }
}
@media screen and (min-width: 500px) {
    img {
        
        content: url(images/kitten-medium.png);
        
    }
}
 
@media screen and (min-width: 800px) {
    img {
        
        content: url(images/kitten-large.png);
        
    }